/* No Select */
.no-select {
    user-select: none;
}

/* No click */
.no-click{pointer-events: none;}

/* FlowPlay Overlay Button Animation */
@keyframes pauseIconFadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.5);
    }
}
@keyframes playIconFadeIn {
    from {
        opacity: 0;
        transform: scale(1.25);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

[f-data-video="pause-icon"] {
    animation: pauseIconFadeOut 0.35s forwards;
}

[f-data-video="play-icon"] {
    animation: playIconFadeIn 0.1s forwards;
}

/* .video-frame Outer Glow */
.video-frame {
    filter: drop-shadow(0 0 100px rgba(255, 0, 0, 0.25));
}

/* .hero-screen Drop Shadow */
.hero-screen {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

/* FlowPlay Video Wrapper Border Radius */
.video-wrapper {
  border-radius: 15%/25%;
}

/* FlowPlay Volume Slider */
.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 7.5px;
	border-radius: 100vw;
	background-color: hsla(0, 0%, 98%, 0.25);
	outline: none;
	overflow: hidden;
	background: linear-gradient(to right, #ff0004 50%, #ff000426 50%);
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 7.5px;
	height: 7.5px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	appearance: none;
	width: 7.5px;
	height: 7.5px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.slider::-moz-range-progress {
	background-color: white;
}

.slider::-webkit-slider-runnable-track {
	background: transparent;
}

[class*="html-icon"] svg {
	width: 100% !important;
	height: 100% !important;
}

/* Dropdown Arrow No Select */
.fs_accordion-2_arrow-wrapper {
	user-select: none;
}

/* Video End Card Fade In/Out */
.end-card {
    box-shadow: inset 0px 0px 20vh 7.5vh #000000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 50ms, visibility 50ms;
}

.end-card.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 1000ms, visibility 1000ms;
}
